/* Titulo */
.titulo span {
    font-size: 2rem;
}

/* Navegacion */

.nav-bg {
    background-color: $secundario;   
    width: 100%;

    &.fijo {
        @include tablet {
            position: fixed;
            margin-top: 4rem;
        }
    }
}

.navegacion-principal {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    &.fijo {
        position: fixed;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: -14rem;
        background-color: $secundario;
        box-shadow: 0 .3rem .5rem;

        .boton-inicio {
            grid-column: 1 / 5;
        }

        a {
            padding: .5rem;
        }

        @include tablet {
            display: flex;
            padding: 1rem;
            width: 120rem;
            max-width: 95%;
            margin-left: max(calc((100% - 120rem) / 2) , 2.5%);
            margin-bottom: 5rem;
        }
    }
    
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: $primario;
    color: black;
}
