.servicios {
    @include tablet {
        display: grid;
        gap: 5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
    }

    .servicio-proximamente {
        @include tablet {
            grid-column: 3 / 4;
        }
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: $secundario;
}

.servicios .iconos {
    height: 15rem;
    width: 15rem;
    background-color: $primario;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.servicios .iconos-proximamente {
    @include tablet {
        height: 10rem;
        width: 10rem;
        margin-bottom: 2rem;
    }
}

.servicio p {
    line-height: 2rem;
    text-align: center;
}
